@tailwind base;
@tailwind components;
@tailwind utilities;

#home-svg{
 
}


#home-title{
    background: rgb(88,249,155);
    background: linear-gradient(153deg, rgba(88,249,155,1) 0%, rgba(34,193,195,1) 29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color:#00BFA6
}

button:hover{
    transform: translateY(5px);
}